@import 'main.less';

.container {
  background-color: @white;
  margin: 80px 150px;
  padding: @base-padding @base-padding+40px;
  font-size: 12px;
}

.greet {
  text-align: center;
}

.greet > *,
article {
  position: relative;
  top: -75px;
}

.greet img {
  border-radius: 50%;
  .image-size;
}

.greet h1 {
  margin: @base-margin;
}

.block {
  display: block;
  margin: @base-margin+5px;
}

article h2 {
  color: red;
  margin: 15px 0;
}

main li {
  margin: @base-margin;
  display: flex;
}

.timeline {
  width: 10%;
}

.detail {
  width: 90%;
}

.detail {
  padding: 15px;
}

.experience .detail {
  background-color: @gray;
}
